.workInProgressContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.wpContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wpCText {
  margin-bottom: 24px;
}

.logo {
  position: relative;
  width: 228px;
  height: 77px;
  margin-bottom: 32px;
}
